################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ez.NLog.Telegram
/Ez.NLog.Telegram/bin
/Ez.NLog.Telegram/obj
